@import '../node_modules/maplibre-gl/dist/maplibre-gl.css';
@import "../node_modules/primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-50: rgb(235, 236, 246);
--primary-100: rgb(196, 198, 229);
--primary-200: rgb(156, 160, 212);
--primary-300: rgb(117, 122, 195);
--primary-400: rgb(77, 83, 178);
--primary-500: rgb(54, 50, 115);
--primary-600: rgb(60, 65, 138);
--primary-700: rgb(43, 46, 99);
--primary-800: rgb(26, 28, 59);
--primary-900: rgb(9, 9, 20);
--primary-950: rgb(2, 44, 34);
--surface-0: rgb(255, 255, 255);
--surface-50: rgb(248, 250, 252);
--surface-100: rgb(241, 245, 249);
--surface-200: rgb(226, 232, 240);
--surface-300: rgb(203, 213, 225);
--surface-400: rgb(148, 163, 184);
--surface-500: rgb(100, 116, 139);
--surface-600: rgb(71, 85, 105);
--surface-700: rgb(45, 55, 72);
--surface-800: rgb(30, 41, 59);
--surface-900: rgb(15, 23, 42);
--surface-950: rgb(3, 6, 23);

--primary: var(--primary-500);
--primary-inverse: var(--surface-0);
--primary-hover: var(--primary-600);
--primary-active-color: var(--primary-600);

--primary-highlight-opacity: 0.1;
--primary-highlight-inverse: var(--primary-700);
--primary-highlight-hover-opacity: 0.2;
}
.dark{
--primary: var(--primary-400);
--primary-inverse: var(--surface-900);
--primary-hover: var(--primary-300);
--primary-active-color: var(--primary-300);

--primary-highlight-opacity: 0.2;
--primary-highlight-inverse: var(--surface-0);
--primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
&:not(.dark){
    --primary: var(--primary-950);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-800);
    --primary-active-color: var(--primary-900);

    --primary-highlight-opacity: 1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.8;
}
&.dark{
    --primary: var(--primary-50);
    --primary-inverse: var(--surface-950);
    --primary-hover: var(--primary-100);
    --primary-active-color: var(--primary-100);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.2;

}
}

html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}
.p-colorpicker-panel{
  z-index: 12 !important;
}

  .maplibregl-popup-close-button{
    @apply absolute right-0 top-0 items-center inline-flex text-center align-bottom justify-center leading-[normal] transition duration-200 ease-in-out cursor-pointer overflow-hidden select-none
    bg-transparent rounded-full
    text-primary-500 hover:text-white border border-primary-500 hover:bg-primary-500
    focus:ring-primary-400 dark:focus:ring-primary-300
    focus:outline-none focus:outline-offset-0 focus:ring text-2xl py-2 px-4 font-extrabold
  }
